 /* Thanks to w3schools.com for all the styling help! */

 * {
    box-sizing: border-box;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    width: 100%;
}

p {
    margin-top: 0.2em;
    margin-bottom: 0px;
    padding: 5px;
    color: #5A5958;
}

code {
    font-family: Courier,'Courier New';
    font-size: 14px;
}

.row {
    margin-bottom: 0px;

}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    float: left;
    padding: 5px;
}

.center {
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.svg-style {
    width: 3%;
}

.link-text {
    color: #004470;
    font-size: x-large;
    text-decoration: none;
}

.nav-links {
   font-size: 18px;
}

.not-found {
    font-size: 40px;
    font-weight: bolder;
    color: #72adde;
}

div.bottom {
    position: fixed;
    bottom: 0;

    /* And if you want the div to be full-width: */
    left: 0;
    right: 0;
    padding-left: 5px;
    padding-bottom: 5px;
}

.date-posted {
    color: #5A5958;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}


span.date-posted {
    padding-right: 10px;
}


/* for markdown conversion when can't specify class or id */
/* see .link-text */
p > a {
    color: #004470;
    font-size: x-large;
    text-decoration: none;
}

/* see .date-posted and span.date-posted */ 
p > a > code {
    color: #5A5958;
    padding-right: 10px;
    font-size: 16px;
}
/* ------------------------------------------------------- */

ul,
li {
    color: #5A5958;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.bottom {
   position: fixed;
   bottom: 0;

   /* And if you want the div to be full-width: */
   left: 0;
   right: 0;
   padding-left: 5px;
   padding-bottom: 5px;
 }

@media only screen and (max-width: 768px) {

    .d-none-sm {
        display: none;
    }

}

@media only screen and (min-width: 768px) {

    img {
        width: 60%;
    }

    p {
        font-size: x-large;
    }

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }

    .svg-style {
        width: 2%;
    }

}