<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Solo Cloud Developer</title>

  <link rel="stylesheet" href="https://storage.googleapis.com/scd-static-e7w4/css/scd_styles.css">
  <link rel="icon" href="data:,">
</head>

<body>

  <div class="row">
    <div class="center-text">
      <img src="https://storage.googleapis.com/bucket-scd-static/img/scd_banner_1920x500.png" />
    </div>
  </div>

  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <hr />
    </div>
    <div class="col-4"></div>
  </div>

  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <div class="row">
        <div class="center-text">
          <p>
            Cloud native projects for solo developers and the costs to deploy them!
          </p>
        </div>
      </div>
    </div>
    <div class="col-4"></div>
  </div>

  <div class="row d-none-sm">
    <div class="col-4"></div>
    <div class="col-4">
      <hr />
    </div>
    <div class="col-4"></div>
  </div>

  <!-- nav-section -->
  <!-- <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <p>
        <a class="link-text nav-links" href="/index.html" >Home</a>
        <span>&nbsp;&nbsp;&nbsp;</span>
        <a class="link-text nav-links" href="/til/index.html">TIL</a>
      </p>
    </div>
    <div class="col-2"></div>
  </div>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-8"> -->

  